body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 400;
}

#logo {
  width: 160px;
}

.gradient {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../../assets/img/1920_p3.2.jpg);
}

#button {
  border-radius: 25px;
  background: rgba(0,0,0,0.6);
  color: #fff;
}

.catch {
  color: #fff;
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.register {
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 25px;
  width: 25%;
  margin: 0 auto;
  background: linear-gradient(90deg, #0072c6 33%, #00a3dd 70%);
  color: #fff;
}

.btn:hover {
  color: #ffffff;
  text-decoration: none;
}

.btn-primary.register:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background: linear-gradient(90deg, #00a3dd 33%, #0072c6 70%);
  border-color: #20689d;
}

.btn-primary.register:focus, .btn-primary.register.focus {
  color: #fff;
  background: linear-gradient(90deg, #00a3dd 33%, #0072c6 70%);
  -webkit-box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(60, 60, 60, 0.5);
}

.btn-primary.register:hover {
  color: #fff;
  background: linear-gradient(90deg, #00a3dd 33%, #0072c6 70%);
}

.btn-primary.register:hover {
  color: #fff;
  background: linear-gradient(90deg, #00a3dd 33%, #0072c6 70%);
}

.btn-primary {
  color: #ffffff;
}

.btn.btn-primary.signin {
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.75);
}

.forgot {
  justify-content: center;
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: #fff;
}

.signin-header {
  padding-top: 50px;
}

.forgot {
  color: #fff;
  opacity: 0.8;
}

.forgot:hover {
  color: #fff;
  opacity: 1;
}

.nav.mx-auto {
  justify-content: center;
}

.nav-link:hover {
  opacity: 1;
  color: #ffffff;
}

.nav-link {
  opacity: 0.4;
  color: #bbbbbb;
}

.form-group.text-left.checkbox {
  padding-left: 120px;
}

p {
  text-align: center;
  color: #fff;
}

