<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">


<!-- HEADER FRAGMENT -->
<div th:fragment="header">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>dev</title>
        <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600&amp;display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900">
        <link rel="stylesheet" th:href="@{/assets/css/footer.css}">
        <link rel="stylesheet" th:href="@{/assets/css/Login-Form-Clean.css}">
        <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
        <link rel="stylesheet" th:href="@{/assets/css/slider.css}">
    </head>
</div>


<!-- MAIN NAVIGATION -->
<div th:fragment="navbar">
    <div id="navbar">
        <nav class="navbar navbar-light navbar-expand" id="navbar">
            <div class="container"><a class="navbar-brand" href="/"><img id="logo" th:src="@{/assets/img/logo.png}"></a>
                <span>
                    <a class="btn btn-primary signin" role="button" href="/login" sec:authorize="isAnonymous()">Sign in</a>
                    <a class="btn btn-primary signin" role="button" href="/logout" sec:authorize="isAuthenticated()">Logout</a>
                </span>
            </div>
        </nav>
    </div>
</div>

<!-- SIGN IN NAVIGATION -->
<div th:fragment="signinnavbar">
    <div id="navbar">
        <nav class="navbar navbar-light navbar-expand" id="navbar">
            <div class="container"><a class="navbar-brand" href="/"><img id="logo" th:src="@{/assets/img/logo.png}"></a>
            </div>
        </nav>
    </div>
</div>

<!-- FOOTER NAVIGATION & SCRIPTS -->
    <div th:fragment="footer" >
        <div class="footer">
            <footer>
                <ul class="nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" th:href="@{/user/profile}" sec:authorize="isAuthenticated()">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/user/matches}" sec:authorize="isAuthenticated()">Matches</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/user/chat}" sec:authorize="isAuthenticated()">Chat</a></li>
                </ul>
            </footer>
        </div>
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/js/modal.js}"></script>
        <script th:src="@{/assets/js/slider.js}"></script>
    </div>
</html>