<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Navigation Fragment</title>
</head>
<body>
<div th:fragment="navigation-home">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="#">Cougar Roomie</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" th:href="@{/}">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{login}">Login</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{registration}">Register</a></li>
            </ul>
        </div>
    </div>
</nav>
</div>

<div th:fragment="navigation-login">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">Cougar Roomie</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" th:href="@{login}">Login</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{registration}">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="navigation-register">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">Cougar Roomie</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{login}">Login</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" th:href="@{registration}">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>