<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{fragments/mainFrag :: header}"></div>

<body class="gradient overlay">
<div th:insert="~{fragments/mainFrag :: navbar}"></div>

<form action="/user/assessment" th:object="${assessmentForm}" method="POST" enctype="utf8">
    <div class="center-div">
        <label th:text="${assessmentForm.question1}">Question 1</label>
        <div>
            <input class="slider" type="range" min="0" max="10" oninput="updateRangeInput(this)" value="0" th:field="*{answer1}">
            <output class="output" name="output" for="range">0</output>
        </div>
    </div>
    <div class="center-div">
        <label th:text="${assessmentForm.question2}">Question 2</label>
        <div>
            <input class="slider" type="range" min="0" max="10" oninput="updateRangeInput(this)" value="0" th:field="*{answer2}">
            <output class="output" name="output" for="range">0</output>
        </div>
    </div>
    <div class="center-div">
        <label th:text="${assessmentForm.question3}">Question 3</label>
        <div>
            <input class="slider" type="range" min="0" max="10" oninput="updateRangeInput(this)" value="0" th:field="*{answer3}">
            <output class="output" name="output" for="range">0</output>
        </div>
    </div>
    <div class="center-div">
        <label th:text="${assessmentForm.question4}">Question 4</label>
        <div>
            <input class="slider" type="range" min="0" max="10" oninput="updateRangeInput(this)" value="0" th:field="*{answer4}">
            <output class="output" name="output" for="range">0</output>
        </div>
    </div>
    <div class="center-div">
        <button class="btn-primary" type="submit">Submit</button>
    </div>
</form>

<div th:insert="~{fragments/mainFrag :: footer}"></div>
</body>
</html>