<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" th:href="@{/assets/chat/main.css}"/>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" th:href="@{/assets/css/footer.css}">
    <link rel="stylesheet" th:href="@{/assets/css/Login-Form-Clean.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>
<body class="gradient overlay">
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<div id="username-page">
    <div class="username-page-container">
        <h1 class="title">Start Chatting Now!</h1>
        <table class="user-table">
            <thead class="user-table-head">
                <tr>
                    <th colspan="2">Available Users</th>
                </tr>
            </thead>
            <tbody class="user-table-body">
                <tr th:if="${users.empty}">
                    <td colspan="2">No Users Found In Database</td>
                </tr>
                <tr th:each="user : ${users}">
                    <td>
                        <span th:text="${user.userName}"></span>
                    </td>
                    <td>
                        <button th:onclick="connect([[${user.userName}]])" class="accent">Message!</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="chat-page" class="hidden">
    <div class="chat-container">
        <div class="chat-header">
            <h2>User Messaging Form</h2>
        </div>
        <div class="connecting">
            Connecting...
        </div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                    <button type="submit" class="primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:insert="~{fragments/mainFrag :: footer}"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/assets/chat/main.js}"></script>
</body>
</html>