<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:insert="~{fragments/mainFrag :: header}"></div>

<body class="gradient overlay">
<div th:insert="~{fragments/mainFrag :: navbar}"></div>

    <div th:action="@{/login}" id="sign-in-form" class="login-form" sec:authorize="isAnonymous()">
        <form method="POST">
            <h2 class="signin-header">Sign in</h2>
            <div class="form-group"><input class="form-control" th:classappend="${param.error} ? is-invalid : ''" type="text" name="username" placeholder="Username" required></div>
            <div class="form-group"><input class="form-control" th:classappend="${param.error} ? is-invalid : ''" type="password" name="password" placeholder="Password" required>
                <h4 th:if="${param.error}" class="invalid-feedback" style="color: white">Invalid username or password.</h4>
            </div>

            <div class="form-group"><button class="btn btn-primary btn-block form-control" type="submit">Log In</button></div>
            <a class="forgot" href="#">Forgot your password?</a>
            <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
        </form>
    </div>
<div th:insert="~{fragments/mainFrag :: footer}"></div>
</body>
</html>