<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>dev</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body class="gradient overlay">
<div id="navbar">
        <nav class="navbar navbar-light navbar-expand" id="navbar">
            <div class="container"><a class="navbar-brand" href="/"><img id="logo" src="assets/img/logo.png"></a><span><a class="btn btn-primary signin" role="button" href="/login">Sign in</a></span></div>
        </nav>
    </div>
    <div th:action="@{/login}" id="sign-in-form" class="login-form">
        <form method="POST">
            <h2 class="signin-header">Sign in</h2>
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block form-control" type="submit">Log In</button></div>
            <a class="forgot" href="#">Forgot your password?</a>
            <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
        </form>
    </div>
    <div class="footer">
        <footer>
            <ul class="nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link active" href="/profile">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Matches</a></li>
            </ul>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="ssets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/modal.js"></script>
</body>

</html>