<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:insert="~{fragments/mainFrag :: header}"></div>

<body class="gradient overlay" onload="initConnect()">

<div th:insert="~{fragments/mainFrag :: navbar}"></div>

<div id="matchArea" style="height: 400px; position: absolute; top:30%; left: 30%; right: 30%; background-color: black">
    <h2 id="userName" style="color:white; text-align: center;"></h2>
    <div style="text-align: center; width: 100%;">
        <button id="Yes" class="btn btn-success">Yes</button>
        <button id="No" class="btn btn-danger">No</button>
    </div>

</div>


<div th:insert="~{fragments/mainFrag :: footer}"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/assets/js/matching.js}"></script>
</body>

</html>