<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:insert="~{fragments/mainFrag :: header}"></div>

<body class="gradient overlay">

<div th:insert="~{fragments/mainFrag :: navbar}"></div>

<div>
    <table class="table table-bordered table-dark" th:each="user : ${users}">
        <tbody>
            <form method="post" action="/user/submitmatch">
                    <th scope="row" colspan="2" th:text="${user.userName}"></th>
                    <input type="hidden" th:value="${user.userName}" name="userName"/>
                </tr>
                <tr>
                    <td>
                        <input class="form-control btn btn-success" type="submit" name="like" value="Yes?" style="padding-left:40px; padding-right: 40px;">
                    </td>
                    <td>
                        <input class="form-control btn btn-danger" type="submit" name="dislike" value="No?"style="padding-left:40px; padding-right: 40px;">
                    </td>
                </tr>
            </form>
        </tbody>
    </table>

</div>

<div th:insert="~{fragments/mainFrag :: footer}"></div>
</body>

</html>