<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cougar Roomie</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="assets/css/background.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <section id="hero">
        <div id="wrapping" class="wrap">
            <div id="top">
                <nav class="navbar navbar-light navbar-expand-md">
                    <div class="container"><a class="navbar-brand" href="index.html"><img src="assets/img/logo.png"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div
                            class="collapse navbar-collapse" id="navcol-1">
                            <ul class="nav navbar-nav mx-auto">
                                <li class="nav-item" role="presentation"></li>
                                <li class="nav-item" role="presentation"></li>
                                <li class="nav-item" role="presentation"></li>
                            </ul>
                            <ul class="nav navbar-nav">
                                <li class="nav-item" role="presentation"><a class="nav-link" href="login.html">Sign in</a></li>
                            </ul>
                    </div>
            </div>
            </nav>
        </div>
        <section>
            <form action="/register" th:object="${registrationForm}" method="POST" enctype="utf8">
                <h2 class="text-center"><strong>Create</strong> an account</h2>
                <div class="form-group"><input class="form-control" type="text" name="username" placeholder="User Name" th:field="*{user_name}"></div>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" th:field="*{email}"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" th:field="*{password}"></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign Up</button></div><a class="already" href="/login">Already have an account? Sign in here.</a>
                <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
            </form>
        </section>
        <div id="bg_area" class="bg_area">
            <div id="clearfix" class="bg01 clearfix"></div>
        </div>
        </div>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="assets/js/background.js"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
</body>

</html>