<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
#firstTimeLoginForm {
  margin: auto;
  width: 60%;
  border: 3px solid black;
  padding: 10px;
}
</style>
</head>
<!-- This is just a form that collects the user's first name, last name and gender on their first login-->
<body>
<div id = "firstTimeLoginForm">
    <form action="/user/secondaryinfo" th:object="${secondaryInfoForm}" method="POST" enctype="utf8">
        <h1>Welcome</h1>
        <div>
            <input placeholder="First Name" th:field="*{first_name}"><br>
        </div>
        <div>
            <input placeholder="Last Name" th:field="*{last_name}"><br>
        </div>
        <div>
            <input id="male" type="radio" value='1' th:field="*{gender}"><label for="male">Male</label><br>
            <input id="female" type="radio" value='2' th:field="*{gender}"><label for="female">Female</label>
        </div>
        <button type="Submit">Submit</button>
    </form>
</div>
</body>
</html>